nav{
  padding: 0 1rem;
}
.content{
  min-height: calc(100vh - 130px);
  padding: 1.5rem 0;
}
.goods{
display: flex;
flex-wrap: wrap;

gap: 1rem;
margin: 0 auto;
}

.card{
margin: 0 auto;
}
.img{
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.cart{
  position: fixed;
  right: 2rem ;
  z-index: 5;
  cursor: pointer;
  padding: 1rem;
}

.basket-list{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50rem;
  max-width: 95%;
  box-shadow: 0 5px 15px #000;
  animation: show 0.5s ease-in-out;
  overflow: hidden;
}

.basket-close{
  position:absolute;
  cursor: pointer;
  top: 1rem;
  right:0;
  margin-right: 10px;
  color: #fff;
}
.basket-delete{
  cursor: pointer;
}

.bsk {
  position: fixed;
   top: 0;
  bottom: 0;
  right: 0;
  left: 0; 
  background-color: rgba(0,0,0,0.5);
}

@keyframes show {
  from {top:70%; opacity:0}
  to{top:50%; opacity: 1;}
}
.btm{
  margin-bottom: 10px;
  position: absolute;
  right:  50px;
  bottom: 38px;
}
.btns{
  margin-bottom: 10px;
  position: absolute;
  right:  180px;
  bottom: 38px;
}

.collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-item {
  background-color: transparent;
  border: 0;
}

.delete-icon{
  color: red;
}
.contain {
  padding: 10px 70px;
}